
body{
    background-color:#555;
}

div.retangulo1 {
       margin-left: 20%;
       margin-top:100px; 
       line-height:0;
        width:30%;
        height:300px;
        border: 25px solid white;
        }
        div.retangulo2 {
            margin-left: 107%;
            margin-top:-25px; 
            line-height:0;
             width:100%;
             height:300px;
             border: 25px  solid white;
             }
             div.retangulo3 {
                line-height:0;
                margin-left: 0%;
                margin-top:33%;
                border-style: solid;
                 border-color: #211b15;
                 border-width: 0 75px 183px;
           
 }

 .img .imagem{
  width:100%
 }
 
.preto1{
   margin-left:64%;
   margin-top:-26%;
   height: 200%;
   
    
 }
 .preto2{
    margin-left:70%;
    margin-top:1%;
     height: 50%;
  }
  
  .preto2{
    margin-left:64%;
    margin-top:1%;
    
  }
  
.preto3{
  margin-left:64%;
  margin-top:1%;
}
.preto4{
  margin-left:66%;
  margin-top:1%;
}
 
.branco{
  margin-left:60%;
  margin-top:1%;
  height: 30px;

}
.laranja{
  
  height: 40px;
  background-color: orange;
}

.verde{

  height:50px;
background-color:green;
}

.btn.preto.click{
  background-color: #211b15;
}