
body{
    background-color:#555;
}

div.retangulo1 {
       margin-left: 20%;
       margin-top:100px; 
       line-height:0;
        width:30%;
        height:300px;
        border: 25px solid white;
        }
        div.retangulo2 {
            margin-left: 107%;
            margin-top:-25px; 
            line-height:0;
             width:73%;
             height:300px;
             border: 25px  solid white;
             }
             div.retangulo3 {
                line-height:0;
                margin-left: 0%;
                margin-top:42%;
                border-style: solid;
                 border-color: #211b15;
                 border-width: 0 75px 183px;
 }

.preto1{
   margin-left:64%;
   margin-top:-14%;
    
 }
 .preto2{
    margin-left:64%;
    margin-top:13%;
     
  }
  .preto3{
    margin-left:64%;
    margin-top:-14%;
     
  }
   
 
