body{
    background-color:#555;
}
.div .urna {
    width:100px;
   height: 100%;
    
     border: 25px solid white;
     }

     div.ola{
     width:70px;
     border: 25px solid white;
     }




