.base{
    width: 1150px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 250px;
}
.cima{
    width: 100px;
    height: 170px;
    background-color: rgb(203, 203, 203);
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 1px solid rgb(203, 203, 203);
}
.tela{
    height: 100px;
    border: 2px solid black;
    margin: 90px;
    margin-top: 45px;
    background-color: rgb(185, 217, 211);
}
.baixo{
    height: 420px;
    background-color: rgb(203, 203, 203);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.telinha{
    height: 210px;
    width: 18%;
    margin-top: 60px;
    background-color: black;
}
.teclado{
    margin: 40px;
    width: 40%;
    height: 370px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.numeros, .botoes, .zero{
    border: 3px solid black;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
.parte1, .parte2, .parte3{
    width: 440px;
    height: 85px;
    margin-left: 230px;
}
.parte4{
    height: 150px;
    margin-left: 185px;
}
.numeros, .zero{
    width: 60px;
    height: 60px;
    margin: 15px;
}
.numeros{
    margin: 10px;
}
.botoes{
    width: 120px;
    height: 60px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 19px;
}
.num{
    font-size: 28px;
}
#corrige{
    background-color: red;
}
#confirma{
    background-color: green;
}
.numeros, .zero{
    background-color: black;
}
.sinais{
    height: 280px;
    border: 1px solid black;
    width: 25%;
    margin-bottom: 100px;
}
